
.container {
  padding: 0 2rem;
}

.headline{
 font-family: "Cinzel Decorative", fantasy;

 font-size: 64px;
 margin: 0 0 20px 0;
}
.sessionid {
  color: #999;
  position: absolute;
  bottom: 12px;
  right: 12px;
}