@font-face {
  font-family: "Cinzel Decorative";
  src: url("/fonts/CinzelDecorative-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Cinzel Decorative";
  src: url("/fonts/CinzelDecorative-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Cinzel Decorative";
  src: url("/fonts/CinzelDecorative-Black.woff2") format("woff2");
  font-weight: 900;
}

html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  background: url(/Paper-BG.png) center no-repeat;
  background-size: cover;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
